@font-face {
  font-family: raleway;
  src: url(/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(Raleway/static/Raleway-SemiBold.ttf);
}

* {
  font-family: raleway;
}

.siteContainer {
  width: 100%;
  height: auto;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: rgb(100, 185, 234);
}

.navContainer ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.navContainer ul a {
  display: flex;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.navLeft :hover {
  text-decoration: underline;
}

.github {
  width: auto;
  height: 30px;
  padding-right: 5px;
}

.linkedIn {
  width: auto;
  height: 25px;
  margin-top: 2px;
  padding-left: 5px;
}

.github .linkedIn {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.heroBody {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
}

.heroHeader {
  font-size: 2.8rem;
  margin: 20px;
}

.name {
  font-family: Raleway-semibold;
  color: #ff60a2;
}

.heroContainer p {
  width: 80%;
  margin: 20px;
  font-size: 1.5rem;
}

.avatar {
  width: 220px;
  height: auto;
  max-width: 100%;
  margin: 10px;
}

.workbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 250px;
  height: 50px;
}

.workbtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.workbtn :hover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff60a2;
  border: 1px solid #ff60a2;
  border-radius: 5px;
}

/* .loadup {
  width: 100%;
  height: 50vh;
  background: rgb(20, 20, 20);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

marquee {
    height: 50vh;
  } */

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.sectionTwo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: auto;
  margin-top: 20px;
}

h2{
  font-size: 2.6em;
  text-align: center;
}

.projectNavContainer {
  display: flex;
  justify-content: center;
}

.projectNavContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.projectNavContainer ul li {
  display: flex;
  padding: 10px;
}

.projectNavContainer ul li:hover {
  text-decoration: underline;
}

.projectDisplayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.projectWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.projectWrapper > div {
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: auto;
}

.projectWrapper img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  border-radius: 5px;
  border: 1px solid black;
}

.projectWrapper > div :hover {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.05);
}
